header.sect_header
    .wrapper
        .header
            .header__left
                .header__logo
                    img(src="./images/logo.png", alt="") 
                .header__menu
                    .header__menu_item
                        a(href="#") Platform          
                    .header__menu_item
                        a(href="#") Capabilities
                    .header__menu_item
                        a(href="#") Companyugi
            .header__right
                .header__demo
                    .button 
                        img(src="./images/play.png", alt="")
                        span DEMO
                .header__burger.burger
                    img(src="./images/burger.png", alt="")

            .adaptmenu
                    .close
                        img(src="./images/close.png", alt="")
                    .content
                        .m Menu