//- #openModal1.modalDialogcustom
//-     div.contentpopap 
//-         .popapwrapper.mainpopap
//-             form.form
//-                 .form__title
//-                     p заказать обратный звонок
//-                 .form__text
//-                     p И наш менеджер свяжется с вами в ближайшее время
//-                 .form__blockinput
//-                     input(type="text" placeholder="Ваше имя" required)
//-                     input(type="tell" placeholder="Ваш телефон" required)
//-                     button(type="submit")#btn2
//-                         span Заказать звонок
//-                 //- .form__blockbutton
//-                 //-     button(type="button")#btn2
//-                 //-         span Заказать звонок
//-             .close1#close1( title='Close') 
//-                 img(src="./images/close.png", alt="" width="23")
//-             .imgbg
//-                 img(src="./images/popup.png", alt="")


