.modalDialogcustom
    //- .shadow_popap
    .wrappercontentpopap
        .contentpopap 
            .wrapper
                .contentpopap__head
                    .contentpopap__logo
                        img(src="./images/logo.png", alt="")
                    .contentpopap__title
                        span Apply Now!
                    .contentpopap__cancel
                        img(src="./images/cancel.png", alt="")
                form.form
                    .form__content
                        .form__left
                            input(type="text" placeholder="First Name*" required)
                            input(type="email" placeholder="Email*" required)
                            input(type="text" placeholder="Last Name*" required)
                            input(type="tell" placeholder="Phone" required)
                            label.file_download
                                input(type="file" placeholder="Attach CV*" required)

                                //- div.bord 
                                span Attach CV*
                                div no file 
                            
                        .form__right
                            textarea(placeholder="Please, tell us why  you want to work here...")

                    .form__button
                        button.button(type="submit") Apply


