extends ../template

block varibles
    - var title = "Hr"

block content
   
    .content
        include ../common/header.pug

        section.sect_breadcrumbs
            .wrapper
                a(href="#") home 
                img(src="./images/left-arrow.png", alt="")
                span
                    | hr

        section.sect1
            .wrapper
                .sect1__content
                    .sect1__breadblock
                        a(href="#") home 
                        img(src="./images/left-arrow2.png", alt="")
                        span
                            | hr
                    .sect1__titleblock
                        .redsquare
                        .desc
                            span JOIN US!
                            p The only way to move towards ambitious goals and make<br> a difference is to let passionate and brilliant people do their job!
                        
                    .sect1__buttonblock
                        a(href="./jobs.html").button Our vacancies

        section.sectmenu
            .wrapper
                .sectmenu__content
                    .sectmenu__item
                        a(href="#project") PROJECT 
                    .sectmenu__item
                        a(href="#tecnology") TECHNOLOGY 
                    .sectmenu__item
                        a(href="#cult") CULTURE 
                    .sectmenu__item
                        a(href="#team") TEAM 
                    .sectmenu__item
                        a(href="#ofis") LOCATION 

        section.sect2.blockblocks#project
            .wrapper
                .blockblocks__content
                    .left
                        .titleblock
                            p.title PROJECT 
                        .subtitleblock
                            p.subtitle Our core motivation is to deliver real value and meaningful results for our customers
                        .textblock
                            .text
                                p We deal with day-to-day problems that digital-marketers in agencies as well as solo marketing professionals face in their practice: enormous amount of work, lack of automated process, tons of manually performed routines and level of marketing message personalization that doesn’t meet their customer’s expectations.
                                p Our solutions are created through perfect synergy between development team and final users. And such a constant feedback enables an opportunity to deliver really valuable results for our customers measured in revenue growth, cost and time efficiency.
                    .right
                        .blockimg(style="background-image: url(./images/P1186910.jpg); background-size: cover;")
                            //- img(src="./images/sect2.png", alt="")
                            .min_redsquare

        section.sect3.blockblocks#tecnology
            .wrapper
                .blockblocks__content
                    .left
                        .blockimg(style="background-image: url(./images/P1186919.jpg); background-size: cover;")
                            //- img(src="./images/sect3.png", alt="")
                            .min_redsquare.min_redsquare_l

                    .right
                        .titleblock
                            p.title TECHNOLOGY 
                        .subtitleblock
                            p.subtitle We fundamentally rebuild digital-marketing routine by implementing new technologies
                        .textblock
                            .text 
                                span Highload project
                                p Every day we send over 60 million emails, and our Kubernetes clusters process millions of requests per day. We use containers and dynamic infrastructure scaling to ensure service resiliency under load.
                                span Microservice architecture
                                p Our platform is built on a microservice architecture, where each module communicates with another via an API. Backend and Frontend are completely separated, thus providing a flexible and independent development.
                                span Advanced technologies and professional growth
                                p We do not fear to think outside the box and implement new technologies.
                                p Our technological stack includes but not limited to Python, Golang, Docker, React, ElasticSearch. At the heart of our product is machine learning algorithms that speed up processes and optimize results in digital marketing. We deal with complex and ambitious tasks, such as product recommendations and optimization models helping to improve our partners’ business performance indicators.

                        
        section.sect4.blockblocks#cult
            .wrapper
                .blockblocks__content
                    .left
                        .titleblock
                            p.title CULTURE
                        .subtitleblock
                            p.subtitle Digital Contact is a place for making your ideas real and challenging yourself as a professional
                        .textblock
                            .text
                                p We are constantly looking for people motivated to get a job done and getting inspired by successfully completed projects. This is a place for those who wants to make real difference, those who has courage to get along with complexity of digital marketing world and find geniously simple solutions to its problems. We are not about pointless buzz and corporate titles: being a part of our team means to do what really matters for the customers.
                                p We encourage our employees to enter educational trainings and self-development programs, bring new expertize and share ideas, as it’s our culture to provide an equal opportunity for each of us to change company for the better.
                    .right
                        .blockimg(style="background-image: url(./images/P2057257.jpg); background-size: cover;")
                            //- img(src="./images/sect4.png", alt="")
                            .min_redsquare

        section.sect5.blockblocks#team
            .wrapper
                .blockblocks__content
                    .left
                        .blockimg(style="background-image: url(./images/P2057238-01-03.jpeg); background-size: cover;")
                            //- img(src="./images/sect5.png", alt="")
                            .min_redsquare.min_redsquare_l

                    .right
                        .titleblock
                            p.title TEAM 
                        .subtitleblock
                            p.subtitle Formal titles, policies and procedures are not what we stand for! 
                        .textblock
                            .text 
                                p Our team is excited about the product that we work on and we do our best to become a leader of the market. So we don’t have to waste time on over-formalized procedures to work together smoothly and efficiently. We practice flexible working hours, let our employees to work remotely and do avoid unnecessary rigid policies to control every step of the working process. We trust our employees to choose the most efficient way for themselves to do their job and let every team member to be a part of  product development and improvement.
                                //- p Мы доверяем своим коллегам, поэтому каждый сам выбирает, как наиболее эффективно решать задачи, стоящие перед ним, и каждый может принять участие в развитии продукта.
                                
        section.sect6.blockblocks#ofis
            .wrapper
                .blockblocks__content
                    .left
                        .titleblock
                            p.title LOCATION 
                        .subtitleblock
                            p.subtitle Our teammates work from all over the world, though we do have office space in New York and Moscow if it suits you better
                        .textblock
                            .text
                                p There is no place for soccer table or Playstation at our work space. We won’t suggest you cookies while you’re working in cozy bag chair with laptop. We’ll never put motivational stickers at your desk to make you feel better. And our managers will not cheer you up after daily / weekly / monthly / annual or whatever meetings with a cup of hot chocolate and cliche affirmations like: “You can do it! Remember, a thousand steps long journey begins with one step!”  That’s not who we are…
                                p But we suggest you much more than that: a place where like-minded people are happy to work together from any point of the world and in a way that’s mostly convenient and effective for themselves.
                    .right
                        .blockimg(style="background-image: url(./images/P1186934.jpg); background-size: cover;")
                            //- img(src="./images/sect6.png", alt="")
                            .min_redsquare

        section.sect7
            .wrapper
                .sect7__blockblocks
                    .sect7__blockitem
                        .sect7__icon
                            img(src="./images/calendar.png", alt="")
                        .sect7__title   
                            span AGILE WORKING
                        .sect7__text
                            p Does it work more efficiently at night? Do not want to spend time going to the office or just need to focus? We are open minded!
                    
                    .sect7__blockitem
                        .sect7__icon
                            img(src="./images/dictionary.png", alt="")
                        .sect7__title   
                            span EDUCATIONAL BENEFITS
                        .sect7__text
                            p We support professional development and are ready to compensate up to 100% of the training cost.

                    .sect7__blockitem
                        .sect7__icon
                            img(src="./images/bonus.png", alt="")
                        .sect7__title   
                            span ADDITIONAL COMPENSATIONS
                        .sect7__text
                            p Annual and quarterly performance based bonuses. Individual benefits for personal contribution.

                .sect7__button
                    a(href="./jobs.html").button Our vacancies