.sect7{
    padding: rem(85) 0 rem(88) 0;

    &__blockblocks{
        display: flex;
        margin-bottom: rem(50);

    }

    &__blockitem{
        width: 33%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 rem(60);
        text-align: center;
    }

    &__icon{
        margin-bottom: rem(26);
    }

    &__title{
        span{
            font-size: rem(24);
            font-weight: 400;
            line-height: rem(28);
        }
        margin-bottom: rem(15);
    }

    &__text{
        p{
            font-size: rem(16);
            font-weight: 300;
            line-height: rem(25);
        }
    }

    &__button{
        display: flex;
        justify-content: center;
        .button:hover{
            color: $white;
        }
    }
}

@media screen and (max-width:767px){
    .sect7{
        padding: 34px 0 54px 0;

        &__blockblocks{
            flex-wrap: wrap;
        }

        &__blockitem{
            width: 100%;
            padding: 0;
            margin-bottom: 50px;
            
        }
    }

}