.sect2{
    padding: rem(86) 0 rem(129) 0;
    background-color: $bg_color;
    .left{
       padding-right: rem(90);
    }

}

@media screen and (max-width:769px){
    .sect2{
        padding: 37px 0 40px 0;
        .blockblocks__content{
            flex-direction: column-reverse;
        }
        .left{
            padding: 0;
        }
    }
}