.jobs{
    background-color: $bg_color;
    padding: rem(61) 0 rem(78) 0;
    &__item{
        background-color: $white;
        padding: rem(46) rem(92) rem(44) rem(46);
        margin-bottom: rem(15);
    }

    &__title{
        margin-bottom: rem(11);
        span{
            font-size: rem(30);
            font-weight: 500;
            line-height: rem(28);
            color: $brand_color;
        }
    }

    &__text{
        margin-bottom: rem(28);
        p{
            color: #8a9196;
            font-size: rem(16);
            line-height: rem(25);
        }
    }

    &__subtitle{
        margin-bottom: rem(12);
        span{
            color: $maintext;
            font-size: rem(24);
            line-height: rem(28);
        }
    }

    &__desc{
        margin-bottom: rem(28);
        span{
            font-size: rem(16);
            line-height: rem(25);
            color: $maintext; 
        }
    }

    &__ul{
        ul{
            padding-left: 15px;
            position: relative;
            li{
                position: relative;
                display: block;
                margin-bottom: rem(6);
            }
            li:last-child{
                margin-bottom: 0;
            }
            li:before{
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                background-color: #ff4200;
                position: absolute;
                left: -15px;
                border-radius: 50%;
                transform: translateY(-50%);
                top: 50%;
            }
        }
    }
    
    &__button{
        display: flex;
        justify-content: center;
        margin-top: rem(43);
    }
}

@media screen and (max-width:767px){
    .jobs{
        &__item{
            padding: 33px 29px 33px 24px;
            margin-bottom: 17px;
        }

        &__title{
            span{
                font-size: 25px;
            }
            margin-bottom: 17px;
        }

        &__text{
            p{
                font-size: 14px;
                line-height: 20px;
            }
            margin-bottom: 18px;
        }

        &__subtitle{
            span{
                font-size: 20px;
                line-height: 28px;
            }
            margin-bottom: 10px;
        }

        &__desc{
            span{
                font-size: 14px;
                line-height: 20px;
            }
            margin-bottom: 22px;
        }

        &__ul{
            li{
                font-size: 14px;
                line-height: 20px;
            }
            margin-bottom: 0;
        }
    }
}