.button{
    height: rem(50);
    width: rem(229);
    // padding: 0 rem(37);
    background-color: $brand_color;
    color: $white;
    font-size: rem(16);
    font-weight: 500;
    border-radius: rem(25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width:767px){
    .button{
        height: 50px;
        font-size: 16px;
    }
}