header.sect_header
    .wrapper
        .header
            .header__left
                a(href="./index.html").header__logo
                    img(src="./images/logo.svg", alt="") 
                .header__menu
                    .header__menu_item
                        a(href="#") Platform          
                    .header__menu_item
                        a(href="#") Capabilities
                    .header__menu_item
                        a(href="#") Company
            .header__right
                .header__demo
                    .button 
                        img(src="./images/play.svg", alt="")
                        span DEMO
                .header__burger.burger
                    img(src="./images/burger.svg", alt="")

            .adaptmenu
                    .close
                        img(src="./images/close.png", alt="")
                    .content
                        .m Menu