extends ../template

block varibles
    - var title = "Jobs"

block content
   
    .content
        include ../common/header.pug

        section.sect_breadcrumbs
            .wrapper
                a(href="#") home 
                img(src="./images/left-arrow.png", alt="")
                a(href="./index.html" style="margin-right: 4px;") hr
                img(src="./images/left-arrow.png", alt="")
                span
                    | АКТУАЛЬНЫЕ ВАКАНСИИ

        section.sect1(style="background-image: url(./images/sect1_2.png);")
            .wrapper
                .sect1__content
                    .sect1__breadblock
                        a(href="#") home 
                        img(src="./images/left-arrow2.png", alt="")
                        a(href="./index.html") hr
                        img(src="./images/left-arrow2.png", alt="")
                        span
                            | АКТУАЛЬНЫЕ ВАКАНСИИ
                    .sect1__titleblock
                        .redsquare
                        .desc
                            span Актуальные<br class="br"> вакансии
                            
                        
                    .sect1__buttonblock
                        button.button.show_popap ОТПРАВИТЬ РЕЗЮМЕ
        section.jobs
            .wrapper
                .jobs__content
                    .jobs__item
                        .jobs__title 
                            span Backend разработчик
                        //- .jobs__text
                        //-     p В команду разработки Digital Contact в группу Machine Learning ищем Front-end разработчика уровня middle и выше. Проект связан с автоматизацией маркетинга и продаж (анализ поведения пользователя, Machine Learning, рекомендационные сервисы и т.д.)
                        .jobs__subtitle
                            span Задачи
                        .jobs__desc
                            span Разработка и поддержка микросервисов, самостоятельное ведение мини-проектов.
                        .jobs__subtitle
                            span Требования
                        .jobs__desc
                            span Опыт разработки от 3 лет, хорошее знание python или Golang, владение технологиями нашего стэка, опыт работы и знание git, unix.
                        .jobs__subtitle
                            span Стек технологий
                        .jobs__desc
                            span python3, go, docker, docker-compose, mysql, mongodb, rabbitmq, redis, elasticsearch, clickhouse, uwsg

                    .jobs__item
                        .jobs__title 
                            span ML Data Scientist
                        //- .jobs__text
                        //-     p В команду разработки Digital Contact в группу Machine Learning ищем Front-end разработчика уровня middle и выше. Проект связан с автоматизацией маркетинга и продаж (анализ поведения пользователя, Machine Learning, рекомендационные сервисы и т.д.)
                        .jobs__subtitle
                            span Задачи
                        .jobs__desc
                            span Моделирование, предиктивная аналитика, организация сбора, подготовки и работы с большими данными в области Digital-маркетинга
                        .jobs__subtitle
                            span Требования
                        .jobs__ul
                            ul
                                li понимание основ теории вероятности / линейной алгебры
                                li уверенное владение инструментарием / технологиями анализа / обработки данных
                                li навыки программирования R / Python
                                li аналитический, data-driven подход к решению задач

                    .jobs__item
                        .jobs__title 
                            span Менеджер по работе с клиентами/аккаунт менеджер
                        .jobs__text
                            p Мы всегда рады увлеченным аккаунт-менеджерам, для которых важно по-настоящему разбираться в продукте, чтобы помочь клиенту найти именно то, что ему нужно, и выстроить долгосрочное сотрудничество. Интерес к сфере Digital, понимание того, как работает и развивается email маркетинг, легкость в общении - это то, что отличает нашего аккаунта от других

                        //- .jobs__subtitle
                        //-     span Задачи
                        //- .jobs__desc
                        //-     span Разработка новых интерфейсов и улучшение старых
                        //- .jobs__subtitle
                        //-     span Требования
                        //- .jobs__ul
                        //-     ul
                        //-         li JavaScript es6 (vanilla)
                        //-         li ReactJS
                        //-         li SCSS

                    .jobs__button
                        button.button.show_popap ОТПРАВИТЬ РЕЗЮМЕ

        include ../common/popaps.pug